<!DOCTYPE html>
<html>
<head>
	<title>Liste des utilisateurs</title>
	<!-- <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous"> -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css">
</head>
<body>
	<div id="app">
	  <router-view></router-view>
	</div>


	<!-- <script id="template-users" type="x-template" src="template/users.html"> -->
	<div id="template-users" style="display: none;">
		<table class="table">
			<thead>
				<tr>
					<td>Id</td>
					<td>Nom</td>
					<td>Prénom</td>
					<td>Actions</td>
				</tr>
			</thead>
			<tbody>
				<tr v-for="user in users">
					<td>{{user.id}}</td>
					<td>{{user.firstname}}</td>
					<td>{{user.lastname}}</td>
					<td>
						<router-link class="button is-primary" :to="{name:'user',params:{id:user.id} }">Voir</router-link>
						<button class="button is-danger" class="button is-danger">Supprimer</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div id="template-user" style="display: none;">
		<form v-on:submit.prevent="updateUser(user)">
		  <h2 class="title">{{user.firstname}} {{user.lastname}}</h2>
		  <div class="field">
		    <label class="label">Nom</label>
		    <div class="control">
		      <input class="input" v-model="user.lastname" type="text" placeholder="Nom">
		    </div>
		    <p class="help is-danger" v-if='errors.lastname'>{{errors.lastname}}</p>
		  </div>
		  <div class="field">
		    <label class="label">Prénom</label>
		    <div class="control">
		      <input class="input" v-model="user.firstname" type="text" placeholder="Prénom">
		    </div>
		    <p class="help is-danger" v-if='errors.firstname'>{{errors.firstname}}</p>
		  </div>
		  <div class="field">
		    <label class="label">Email</label>
		    <div class="control">
		      <input class="input" v-model="user.email" type="text" placeholder="Email">
		    </div>
		    <p class="help is-danger" v-if='errors.email'>{{errors.email}}</p>
		  </div>
		  <div class="field">
		    <label class="label">Password</label>
		    <div class="control">
		      <input class="input" v-model="user.password" type="text" placeholder="Password">
		    </div>
		    <p class="help is-danger" v-if='errors.password'>{{errors.password}}</p>
		  </div>
		  <button class="button is-primary">Modifier</button>
		</form>
	</div>


	<script type="text/javascript" src="js/vue.js"></script>
	<script type="text/javascript" src="js/vue-resource.min.js"></script>
	<script type="text/javascript" src="js/vue-router.js"></script>
	<script type="text/javascript" src="js/app.js"></script>

</body>
<style type="text/css">
	#app{
		max-width: 900px;
		margin:0 auto;
		text-align: center;
	}
	form{
		width: 300px;
		display: inline-block;
		text-align: left;
	}
	.table{
		display: inline-block;
	}
</style>
</html> 